/* these all apply to the body element -> global rules */

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.hidden { display: none; }

html, body { height: 100% }

body { 

}

/* main header rules */


/* main rules here */
#members_nav {
   
}

.members { list-style-type: none; }



/* lightbox rules here */

.lightbox { 
    width: 100vw; /* vw = viewport width => screen width */
    height: 100vh; /* vh = viewport height => screen height */

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.85);
    background-image: url('');
    background-repeat: no-repeat;

    background-size: 55vh; /* 55% of the viewport height */
    background-position: 40px bottom;

    z-index: 5000;

    display: none;
}

#lightbox2 { background-image: url(''); }

.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;

    color: white;
    font-size: 3em;

    text-decoration: none;

    font-weight: bolder;
}

.lightbox_close:hover { opacity: 0.5; color: red; }

.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lb_text, .lb_heading { text-align:; }

.lb_text {
    line-height: 1.6 !important;
    margin-left: 0;
    padding-top: 2em;
}

/* turn the lightbox on using the :target pseudo selector */
.lightbox:target { display: block; }